.presenca {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(231, 231, 231));
    padding: 30px 0 120px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__forms {
        width: 100%;
        max-width: 640px;
        padding: 50px;
        border: 1px solid #00000031;
        border-radius: 20px;

        &__input {
            display: flex;
            flex-direction: column;
            gap: 10px;

            #nome {
                width: 100%;
                padding: 15px 0 15px 0;
                text-align: center;
                border: 1px solid #00000031;
                border-radius: 10px;
                font-size: 20px;
            }
        }

        &__button {
            width: 100%;
            max-width: 640px;
            margin-top: 10px;
            padding: 10px 0 10px 0;
            border: 1px solid #00000031;
            border-radius: 20px;
            font-weight: bold;
            color: #fff;
            background-color: rgba(255, 0, 0, 0.548);
            cursor: pointer;

            &:hover {
                background-color: rgb(255, 0, 0);
            }
        }
    }
}