.hero {
    padding-top: 64px;
    background-image: url(../images/fogos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;


    .container {
        position: relative;
        padding: 300px 0;

        h1 {
            font-weight: bold;
            font-size: 44px;
        }

        .contador {
            margin-top: 100px;
            // background-image: linear-gradient(yellow, rgb(175, 17, 43));
            // border-radius: 25px;
            width: 35%;
            margin-left: 320px;
            margin: 0 auto;


            &__titulo {
                padding: 30px 0 30px 0;
                font-size: 25px;
                font-weight: bold;
            }

            &__timer {
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 25px;
                color: #000;
                margin: 0 auto;
                gap: 2px;
                border-bottom: 1px solid #ffffff83;
                border-radius: 15px;

                @media (max-width: 640px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: none;
                }

                &__item {
                    background-color: rgb(255, 255, 255);
                    width: 80px;
                    height: 80px;
                    border-radius: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
            }
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: 0.7;
    }
}