.local {
    padding: 30px 0 120px 0;
    background-image: linear-gradient(rgb(231, 231, 231), rgb(255, 255, 255));
    
    .container {
        margin-top: 90px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        
        .logo {
            max-width: 80px;
            max-height: 80px;
            border-radius: 40px;
        }
    }
    
    &__dados {
        margin-left: 30px;
        color: #000;

        .title {
            margin-bottom: 10px;
        }
    }
}